@import 'variables.scss';
@import 'styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
h2 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: $color-primary-text;
}
.price-tables {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: $color-bg;
  margin: auto;
}
