@import 'variables.scss';

.price-wrapper {
    max-width: 1176px;
    margin: auto;
    min-height: 770px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 380px;
    background-color: $color-bg-card;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    position: relative;
    overflow: hidden;
    min-height: 770px;
    padding-bottom: 5px;

    &__popular {
        position: absolute;
        text-transform: uppercase;
        transform: rotate(45deg);
        right: -30px;
        top: 29px;
        font-weight: 700;
        background-color: #DC3F45;
        width: 148px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-right: 18px;
            margin-bottom: 5px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 18px;
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 35px;
        line-height: 43px;
        font-weight: 700;
    }

    &__title-info {
        margin-bottom: 33px;
        font-size: 20px;
        line-height: 24px;
    }

    &__price {
        font-size: 55px;
        font-weight: 700;
        line-height: 105px;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        background-color: $color-green;

        &_second {
            background-color: $color-blue;
        }

        &_third {
            background-color: $color-coral;
        }
    }

    &__description {
        text-align: center;
        margin-bottom: 40px;
        padding: 0 26px;
    }

    &__options {
        width: 100%;
        margin-bottom: 39px;
    }

    &__options-list {
        padding-left: 59px;
        position: relative;
        line-height: 50px;

        &::after {
            content: '';
            position: absolute;
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
            left: 22px;
            top: 19px;
            width: 15px;
            height: 13px;
        }

        &:nth-child(odd) {
            background-color: #2A3438;
        }

        &_second {
            &::after {
                background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
            }
        }

        &_third {
            &::after {
                background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
            }
        }
    }

    &__btn {
        width: 155px;
        height: 40px;
        text-transform: uppercase;
        border-radius: 20px;
        background-color: $color-green;
        color: $color-primary-text;
        cursor: pointer;

        &_second {
            background-color: $color-blue;
        }

        &_third {
            background-color: $color-coral;
        }
    }
}